/* ContactUs.css */

.contact-us-container {
  position: relative;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(224, 231, 224, 0.947);
    /* background-color: rgb(222, 215, 215); */
    margin-top: 25px;
    margin-bottom: 25px;
    height: 80vh;
    color: rgb(244, 60, 4);
    /* background-image: url(../Assets/conta.webp); */
    font-size: 1.2rem;
  
  }
 
  
  .contact-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  .contact-form button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .contact-form button:hover {
    background-color: #0056b3;
  }
  
  .error {
    color: #d9534f;
    font-size: 0.8em;
  }
  
  .success-message {
    color: #5cb85c;
    font-weight: bold;
    margin-top: 10px;
  }
  