.containerb{
    /* display: flex; */
    /* background-color: #030330; */
    color: white;
    /* height: 800px; */
    margin: 0;
    padding: 0;
}
.firstsection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 95px;
}
.firstsection div{
    width: 40%;
}
.leftsection{
    /* background-color: red; */
    /* width: 40%; */
    font-weight: 500;
    font-size: 2rem;
}
.leftsection .buttonsf{
    display: flex;
    gap: 15px;
    width: 100vh;
}
.leftsection .btn{
    padding: 15px;
    background: red;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
}
.leftsection .btn:hover {
    background: green;
}

.rightsection{
    /* background-color: aqua; */
    width: 40%;
    /* height:800px ; */
}
.rightsection img{
    width: 600px;
    height: 400px;
    border: 2px solid rgb(159, 159, 179);
    box-shadow: 6px 6px 10px rgba(219, 210, 210, 0.5);
}
.containerb hr{
    border: 0;
    height: 2px;
    background: yellow;
    margin:33px 85px;
}
.secondsection{
    height: 80vh;
    max-width: 80vw;
    margin: auto;
}
.secondsection h1{
    font-size: 2rem;
    margin-bottom: 40px;
}
.secondsection .box{
    display: flex;
    background: white;
    width: 75vw;
    height: 5px;
    margin: auto;
    justify-content: center;
    /* padding:auto; */
    gap: 27vh;
}
.secondsection .vertical{
    height: 15vh;
    background: white;
    width: 2px;
    /* margin:0 auto; */
}
.secondsection button{
    background-color: red;
    color: white;
    font-size: 1.2rem;
    border-radius: 15px;
    padding: 5px;
    cursor: pointer;
    margin: 5px;
}
.secondsection button:hover{
    background-color: rgb(10, 255, 80);
    color: white;
}
.vertical h1{
    width: 25px;
    height: 25px;
    top: -35px;
    position: relative;
    margin: auto;
    cursor: pointer;
}
.vertical-title{
    position: relative;
    top: 16vh;
    width: 150px;
    font-size: 1.25rem;
}
.vertical-desc{
    position: relative;
    top: 18vh;
    width: 150px;
    font-size: 0.9rem;
}